.logo{
    size: 50%;
    margin-top: 16px;
}


#top{
text-align: center;

}


#logo-name {
    font-size: 32px;
    font-weight: bold;
    margin: 16px;
}
body {
        font-family: Verdana;
        margin: 0;
        padding: 0;
        color: #ffffff;
        background-image: url(photo-1622793139910-e261be0b30a4.webp);
        background-size: 100%;
    }
    
    
#navigation a{
    color: rgb(255, 255, 255);
    padding: 8px;
}

.letters-bg{
    margin: 20px;
}
#navigation{
    margin-bottom: 20px;
}
#image img {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}


#main{
    max-width: 800px;
    margin: auto;
}


#footer{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 16px;
    margin: 50px;
}

#YouTube{
    margin-top: 16px;
}


#YouTube1{
    margin-top: 16px;
    margin-bottom: 16px;
}


.Kanäle{
    width: 30%;
    display: inline-block;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 08);
    margin-top: 16px;
    margin: 8px;
}

.Rahmen{
    width: 30%;
    display: inline-block;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 08);
}

p{
    color: #ffffff;
}



.übermich{
    
    display: inline-block;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 08);
    margin-top: 16px;
    margin: 8px;
    margin: center;
}


a{
    color: rgb(255, 255, 255);

}
.hover :hover{
    color: blue;
}

.text{
    margin: center;
    
}

#about-us{
    margin-left: 500px;
    margin-right: 500px;
}
